*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  align-items: center;
}

header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(203,3,3,1) 85%, rgba(255,0,0,1) 100%);
  padding: 10px;
  color: #fff;
}

.logo img {
  width: 100%;
  max-width: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

label {
  text-align: center;
  font-weight: bold;
  margin-right: 5px;
  max-width: 400px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  max-width: 400px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  max-width: 400px;
}
.flex {
  display: flex;
}

table {
  margin-right: 20px;
  border-collapse: collapse;
float: left;
width: 100%;
text-align: center;
}

th, td {
  font-size: 23px;
  padding: 10px;
  border: 1px solid #ccc;
}
#piloto-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  float: right;
  width: 100%;
  height: 100%;
}

#piloto-info h2 {
  margin-top: 0;
}

.carousel {
  position: relative;
  overflow: hidden;
}
  .carousel-items {
    display: flex;
    transition: transform 0.5s ease;
  }
      img {
      width: 100%;
      flex: 0 0 100%;
      height: 100%;
    }
 
  .carousel-control {
      color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
    .carousel-control:hover {
      color: transparent;
    }
    .carrousel-control:hover.prev {
      left: 0;
    }
    .carrousel-control:hover.next {
      right: 0;
    }
    .news-section {
      padding: 20px;
    }
    
    .news-section h2 {
      padding-top: 100px;
      text-align: center;
      font-size: 30px;
    }
    
    .news-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      margin-top: 50px;
    }
    
    .news-item {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }
    
    .news-item img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
    
    .news-item h3 {
      margin-bottom: 10px;
    }
    
    .news-item p {
      margin-bottom: 10px;
    }
    
    .read-more {
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }
    .column{
      display: flex;
      
    }
    .cascos{
      display: flex;
      flex-direction:row;
      padding-bottom: 100px;
      justify-content: space-around;
    }
    .cascos h2 {
      font-size: 23px;
      text-align: center;
    }
    .cascos2{
      display: flex;
      flex: row;
      justify-content: space-around;
      padding-top: 100px;
    }
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 16px;
      margin-bottom: 16px;
      width:65%;
      gap: 10px;
    }

    .card img {
      width:60%;
      margin-bottom: 10px;
    }
    .card h3 {
      margin: 0;
      margin-bottom: 12px;
      font-size: 20px;
    }

    .card p {
      margin: 0;
      margin-bottom: 20px;
      font-size: 20px;

    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .helmet {
      width: 300px;
      height: 300px;
      margin: 10px;
      border: 2px solid black;
      overflow: hidden;
    }
  
    .helmet img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .add-to-cart {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      border-radius: 4px;
      cursor: pointer;
    }

    .add-to-cart:hover {
      background-color: #45a049;
    }
    .limpiar{
      display: flex;
      padding-top: 50px;
      padding-bottom: 50px;
      justify-content: space-around;
      font-size: 20px; 
      gap: 10px;
    }
    .limpiar button{
      max-height: 50px;
        padding: 10px 20px;
        background-color: #4CAF50; 
        color: white; 
        border: none;
        border-radius: 4px; 
        font-size: 16px; 
        cursor: pointer;
      }
      
      .limpiar button:hover {
        background-color: #45a049;
      }
         ;

    .cart-item{
      background-color: #f5f5f5;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px;
    }
    #result{
      font-size: 20px;
  color: #333; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 20px;
    }
    footer {
      height: 200px;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      justify-content: center;
      text-align: center;
      font-size: 16px;
    }
    footer h3 {
      padding-bottom: 20px;
    }
    footer img {
      height: 50px;
      width: 50px;
    }